/* .app_navbar.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .app_navbar.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 30 30'><path stroke='%23ffffff' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  .app_navbar.nav-link {
    color: #ffffff !important; 
    transition: color 0.3s ease-in-out; 
  }
  
  /* .app_navbar.nav-link:hover, .nav-link:focus {
    color: #cae0ff !important; 
    text-decoration: none; 
  } */
  
  /*.app_navbar.navbar-brand {
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .app_navbar.navbar-brand:hover {
    transform: scale(1.1); 
  }
  .app_navbar.navbar {
    background: linear-gradient(to right, #0062cc, #0096ff); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
       */

  .card-custom {
    max-width: 300px; 
    height: 400px;     
  }
  
  .card-title-custom {
    font-size: 1.25rem;       
    font-weight: bold;       
    overflow: hidden;         
    text-overflow: ellipsis;  
    white-space: nowrap;      
    width: 100%;              
  }
  body {
    font-family: 'Helvetica', Arial, sans-serif;
  }
  
  